@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --first-color: #111317;
    --first-color-light: #1f2125;
    --first-color-extra-light: #35373b;
    --second-color: rgb(248, 248, 25);
    --second-color-dark: rgb(219, 219, 19);
    --text-color-light: #d1d5db;
    --white-color: #fff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header{
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white-color);
}

.section-subheader{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-color-light);
}

.btn{
    padding: 1rem 2rem;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--second-color);
    border-radius: 30px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--second-color-dark);
    border-color: 2px solid var(--white-color);
   
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--first-color);
}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-logo{
    max-width: 125px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.3rem;
    color: var(--white-color);
}

.link a::after{
    content:""; 
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--second-color);
    transition: 0.2s;
}

.link a:hover::after{
    width: 100%;
}

.header-container{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin: auto;
}

.header-container::before{
    content:"FITNESS";
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    font-weight: 700;
    font-size: 10rem;
    color: var(--white-color);
    opacity: 0.1;
    line-height: 7rem;
    z-index: -1;
} 


.header-content h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color)
}

.header-content h1{
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
    color: var(--white-color);
    
}

.header-content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px  var(--white-color);
    
}

.header-content p{
    margin-bottom: 2rem;
    color: var(--text-color-light)
}

.header-image{
    position: relative;
}

.header-image::before{
    content:"o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--second-color);
    opacity: 0.1;
    z-index: -1;
}

.header-image img{
    max-width: 350px;
    margin: auto;
} 


